header.main {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color:	#FFA500;
  background-image: url("https://www.transparenttextures.com/patterns/grey-jean.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  header.main{
    float: left;
    margin: 200px 40px;
    max-width: 40%;
  }
}