section.new-tweet {
  width: 100%;
  display: none;
  font-family: "Source sans pro", "sans-serif";

}

textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #545149;
  background-color: #f4f1ec;
  display: flex;
  align-items: center;
}
div.PostTweet {
  padding: 5px 0px ;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", "sans-serif";

}

.button {
  background-color: #4056a1;
  border: none;
  color: #ffffff;
}

.errorMessage {
  padding: 10px;
  text-align: center;
  border: 3px solid red;
  color: red;
  display: none;
} 