.tweet {
  opacity: 0.7;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #545149;
  color: #736637;
  font-style: italic;
}
.tweet header {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet header div span {
  margin-left: 10px;
}
#username {
  margin-right: 20px;
  opacity: 1;
  color: #817d93;
  font-weight: bolder;
}

.tweet p {
  margin-left: 2%;
  margin-right: 2%;
  font-weight: 600;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #545149;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px 0px 10px 20px;
  font-weight: bolder;
  font-size: 20px;
}

.userAction {
  opacity: 1;
}

.tweet:hover {
  opacity: 1;
  box-shadow: 10px 10px cadetblue;
  background-color: #D5E2D8;
}

#username:hover {
  opacity: 1;
  color:rgb(11, 77, 113);

}

.tweet:hover .userAction {
  opacity: 1;
} 
.like:hover {
  background-color: #e77777;
}
.flag:hover{
  background-color: #DDD8C6;
}
.retweet:hover{
  background-color: #D5B648;
}